DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=changeme-generate-a-real-one
DJANGO_DEBUG=1
POSTGRES_DB=take_notes
POSTGRES_USER=take_notes
POSTGRES_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:3000
